{
  "parser": "babel-eslint",
  "extends": "airbnb/base",
  "rules": {
    "import/no-mutable-exports": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "semi": 0,
    "arrow-parens": 0,
    "no-console": 0,
    "prefer-template": 0,
    "no-underscore-dangle": 0,
    "prefer-const": 0,
    "no-param-reassign": 0,
    "prefer-rest-params": 0,
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ]
  }
}
